My Email Automation.json
{
  "name": "My Email Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -464
      ],
      "id": "2d974b29-4017-4c71-9a81-f955fbbd6288",
      "name": "Gmail Trigger",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "1Rz4iBTPcO4yGO09",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {
          "format": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -128,
        -576
      ],
      "id": "0d1d2a27-8205-4e53-ad31-a03f4bd7d422",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "zhhmPml3SEpmtvbH",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{$node[\"Prompt\"].json[\"messageId\"]}}",
        "message": "=\n\nFrom: {{$node[\"Prompt\"].json[\"from\"]}}\n\n{{$node[\"Response\"].json[\"replyText\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        -208
      ],
      "id": "5706cf2c-57c6-49fa-ab80-1179c96b1d0b",
      "name": "Reply to a message",
      "webhookId": "f5264a71-122d-4f6e-bc98-eb5c62aa734e",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "1Rz4iBTPcO4yGO09",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prompt node: take CURRENT Gmail item and prepare data for Ollama\n\n// 1. Get the current input email (comes from Gmail Trigger)\nconst email = items[0].json;\n\n// 2. Safely extract fields\nconst from = email.from || \"\";\nconst to = email.to || \"\";\nconst subject = email.subject || \"\";\n\nconst body =\n  (email.body && email.body.plainText) ||\n  email.textPlain ||\n  email.snippet ||\n  \"\";\n\n// 3. Build prompt text for Ollama\nconst promptText = `\nYou are an email auto-reply assistant.\n\nEmail from: ${from}\nSubject: ${subject}\n\nBody:\n${body}\n`.trim();\n\n// 4. Return ONE item that downstream nodes (Ollama, Response, Sheets) use\nreturn [\n  {\n    json: {\n      from,\n      to,\n      subject,\n      body,          // <- this is what we log as original_body\n      messageId: email.messageId || email.id || \"\",\n      threadId: email.threadId || email.thread_id || \"\",\n      promptText,    // <- use this in Ollama node as the message\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -208
      ],
      "id": "9cb8e1d6-324e-42bf-a2bb-e6ff45626a77",
      "name": "Prompt"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// Response node: pass Ollama reply directly\n// ==========================================\n\nconst OLLAMA_NODE_NAME = \"Ollama Chat Model\";\nconst PROMPT_NODE_NAME = \"Prompt\";\n\nfunction extractJsonFromMarkdown(text) {\n  if (typeof text !== \"string\") return null;\n\n  const match = text.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\n  if (!match || !match[1]) return null;\n\n  try {\n    return JSON.parse(match[1]);\n  } catch {\n    return null;\n  }\n}\n\n\n// ----- Helpers -----\nfunction safeNodeJson(name) {\n  try {\n    if ($node && $node[name] && $node[name].json) {\n      return $node[name].json;\n    }\n  } catch (e) {}\n  return null;\n}\n\nfunction tryParseJson(s) {\n  if (typeof s !== \"string\") return null;\n  try {\n    return JSON.parse(s);\n  } catch {\n    return null;\n  }\n}\n\n\n\n\n// ----- Get Ollama output -----\nlet modelData =\n  safeNodeJson(OLLAMA_NODE_NAME) ||\n  items?.[0]?.json ||\n  {};\n\n\n// 🔑 HANDLE OLLAMA MARKDOWN OUTPUT\nif (typeof modelData.content === \"string\") {\n  const parsed = extractJsonFromMarkdown(modelData.content);\n  if (parsed) modelData = parsed;\n}\n\n// Some Ollama nodes return text under `.text`\nif (modelData.text) {\n  const parsed = tryParseJson(modelData.text);\n  if (parsed) modelData = parsed;\n}\n\n// If whole output is stringified JSON\nif (typeof modelData === \"string\") {\n  const parsed = tryParseJson(modelData);\n  if (parsed) modelData = parsed;\n}\n\n// ----- Metadata from Prompt node -----\nconst meta =\n  safeNodeJson(PROMPT_NODE_NAME) ||\n  items?.[0]?.json ||\n  {};\n\n// ----- Final output -----\nconst out = {\n  replyText:\n    modelData.replyText ||\n    modelData.text ||\n    modelData.response ||\n    \"\",\n  category: modelData.category || \"General\",\n  confidence:\n    typeof modelData.confidence === \"number\"\n      ? modelData.confidence\n      : null,\n  from: meta.from || \"\",\n  subject: meta.subject || \"\",\n  threadId: meta.threadId || meta.thread_id || \"\",\n  messageId: meta.messageId || meta.id || \"\",\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -208
      ],
      "id": "cbf23794-f9b5-44d4-8ffe-8f9e368065b9",
      "name": "Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma2:2b",
          "mode": "list",
          "cachedResultName": "gemma2:2b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.promptText }}\n"
            }
          ]
        },
        "options": {
          "system": "You are an email auto-reply assistant.\n\nWrite a professional, short, polite reply.\nDo NOT repeat the original email.\nDo NOT explain anything.\n\nReturn ONLY raw JSON.\nDo NOT use markdown.\nDo NOT wrap output in ``` or ```json.\nDo NOT include any text outside JSON.\n\nValid output example:\n{\n  \"replyText\": \"Thank you for your email. We will get back to you shortly.\",\n  \"category\": \"General\",\n  \"confidence\": 0.9\n}\n\nIf the output is not valid JSON, regenerate it.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -208,
        -464
      ],
      "id": "c97bfba8-c34c-409d-8e0a-ad4f9745f62d",
      "name": "Response Generator",
      "credentials": {
        "ollamaApi": {
          "id": "zhhmPml3SEpmtvbH",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AaJMekZU6YDDv670dK0K3ahjK4qqj1w9H8lv8cbSaLA",
          "mode": "list",
          "cachedResultName": "Email Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AaJMekZU6YDDv670dK0K3ahjK4qqj1w9H8lv8cbSaLA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AaJMekZU6YDDv670dK0K3ahjK4qqj1w9H8lv8cbSaLA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ new Date().toISOString() }}",
            "from": "={{ $node[\"Prompt\"].json[\"from\"] }}",
            "subject": "={{ $node[\"Prompt\"].json[\"subject\"] }}",
            "original_body": "={{ $node[\"Prompt\"].json[\"body\"] }}",
            "reply_body": "={{ $node[\"Response\"].json[\"replyText\"] }}",
            "message_id": "={{ $node[\"Response\"].json[\"messageId\"] }}",
            "to": "={{ $node[\"Prompt\"].json[\"to\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "original_body",
              "displayName": "original_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_body",
              "displayName": "reply_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -464
      ],
      "id": "4e5e94f7-aaeb-49a9-99f1-fccb3c1dcdef",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WxMC3yyZMF67yHVc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Generator": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "da14c30c-8f37-44f1-8446-4ead69605fc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78e63da62dc2c179f68c9f6693c681971ceb742a121fcc264d591138a8f86c64"
  },
  "id": "EXXhJ91xJBWFxmFw",
  "tags": []
}
